In [25]:
import pandas as pd 
import researchpy as rp

In [15]:
df = pd.read_excel('responses.xlsx')
df.head()

,Score,Age of Participant,Gender,Marital Status,Field of Study,Year of Study,Do you know about thalassemia?,Sources of Information about Thalassemia?(Multiple Choice),Thalassemia is an inherited blood disorders,Thalassemia is a major contagious disease,...,I would like to consult with a consultant prior to getting married,I would undergo necessary blood tests before marriage to avoid the birth of a thalassemic child,I should accept the probability of a child just because of a family marriage,I would like to donate my blood to a thalassemia patient,I would like to inform others about the dangers of thalassemia,I would like to consider the importance of public education regarding thalassemia,"If my family has a major thalassemia patient and I am the only candidate for bone marrow transplantation, I would consider it",I would like to participate in the ”Thalassemia Prevention Programme” if someone introduces,I would like to tell friends about Thalassemia after completing This survey,Representative name
0,6,22,Male,Married,Science,2nd year,Yes,"Electronic media, Print media, Friends and family",Yes,No,...,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Rubaiya Gulshan Meem
1,7,20,Male,Unmarried,Science,1st year,Yes,"Electronic media, Print media, Health Care Pro...",Yes,Yes,...,Disagree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Md Reon Tanvir Anando
2,5,6,Male,Unmarried,Arts and Humanities,3rd year,Yes,Seminar and Lectures,Don't know,Yes,...,Disagree,Neutral,Disagree,Agree,Agree,Agree,Disagree,Disagree,Disagree,Farida Akter Farzana
3,5,43,Female,Married,Science,1st year,Yes,None,Yes,Don't know,...,Agree,Disagree,Disagree,Agree,Neutral,Neutral,Agree,Disagree,Disagree,Esmot Ara Shoshi
4,6,5,Male,Married,Science,1st year,Yes,Print media,Yes,No,...,Disagree,Disagree,Disagree,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Muhibullah Shah Jahan

In [18]:
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_')

In [19]:
df.head()

,score,age_of_participant,gender,marital_status,field_of_study,year_of_study,do_you_know_about_thalassemia?,sources_of_information_about_thalassemia?(multiple_choice),thalassemia_is_an_inherited_blood_disorders,thalassemia_is_a_major_contagious_disease,...,i_would_like_to_consult_with_a_consultant_prior_to_getting_married,i_would_undergo_necessary_blood_tests_before_marriage_to_avoid_the_birth_of_a_thalassemic_child,i_should_accept_the_probability_of_a_child_just_because_of_a_family_marriage,i_would_like_to_donate_my_blood_to_a_thalassemia_patient,i_would_like_to_inform_others_about_the_dangers_of_thalassemia,i_would_like_to_consider_the_importance_of_public_education_regarding_thalassemia,"if_my_family_has_a_major_thalassemia_patient_and_i_am_the_only_candidate_for_bone_marrow_transplantation,_i_would_consider_it",i_would_like_to_participate_in_the_”thalassemia_prevention_programme”_if_someone_introduces,i_would_like_to_tell_friends_about_thalassemia_after_completing_this_survey,representative_name
0,6,22,Male,Married,Science,2nd year,Yes,"Electronic media, Print media, Friends and family",Yes,No,...,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Rubaiya Gulshan Meem
1,7,20,Male,Unmarried,Science,1st year,Yes,"Electronic media, Print media, Health Care Pro...",Yes,Yes,...,Disagree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Agree,Md Reon Tanvir Anando
2,5,6,Male,Unmarried,Arts and Humanities,3rd year,Yes,Seminar and Lectures,Don't know,Yes,...,Disagree,Neutral,Disagree,Agree,Agree,Agree,Disagree,Disagree,Disagree,Farida Akter Farzana
3,5,43,Female,Married,Science,1st year,Yes,None,Yes,Don't know,...,Agree,Disagree,Disagree,Agree,Neutral,Neutral,Agree,Disagree,Disagree,Esmot Ara Shoshi
4,6,5,Male,Married,Science,1st year,Yes,Print media,Yes,No,...,Disagree,Disagree,Disagree,Neutral,Neutral,Neutral,Neutral,Neutral,Neutral,Muhibullah Shah Jahan

In [30]:
demographic_info = df[['age_of_participant', 'gender', 'marital_status','field_of_study', 'year_of_study']]
demographic_info

,age_of_participant,gender,marital_status,field_of_study,year_of_study
0,22,Male,Married,Science,2nd year
1,20,Male,Unmarried,Science,1st year
2,6,Male,Unmarried,Arts and Humanities,3rd year
3,43,Female,Married,Science,1st year
4,5,Male,Married,Science,1st year
...,...,...,...,...,...
554,23,Female,Unmarried,Science,3rd year
555,22,Male,Unmarried,Science,4th year
556,23,Male,Unmarried,Science,4th year
557,22,Male,Unmarried,Science,4th year
558,25,Female,Married,Science,Masters

In [31]:
rp.summary_cont(demographic_info['age_of_participant'])

             Variable      N     Mean      SD      SE  95% Conf.  Interval
0  age_of_participant  559.0  22.1002  9.4488  0.3996    21.3152   22.8852

In [33]:
rp.summary_cat(demographic_info[['gender', 'marital_status','field_of_study', 'year_of_study']])

          Variable              Outcome  Count  Percent
0           gender                 Male    322    57.60
1                                Female    237    42.40
2   marital_status            Unmarried    515    92.13
3                               Married     44     7.87
4   field_of_study              Science    372    66.55
5                              Business     70    12.52
6                   Arts and Humanities     61    10.91
7                        Social science     56    10.02
8    year_of_study             1st year    235    42.04
9                              2nd year    104    18.60
10                             4th year     96    17.17
11                             3rd year     84    15.03
12                              Masters     40     7.16

In [34]:
rp.summary_cat(df['do_you_know_about_thalassemia?'])

                         Variable Outcome  Count  Percent
0  do_you_know_about_thalassemia?     Yes    507     90.7
1                                      No     52      9.3

In [72]:
df.shape

(559, 29)

In [37]:
info_source = df['sources_of_information_about_thalassemia?(multiple_choice)'].str.get_dummies(sep=',')
info_source

,Friends and family,Health Care Professionals,None,Print media,Seminar and Lectures,Electronic media,Friends and family,Health Care Professionals,None,Print media,Seminar and Lectures
0,1,0,0,1,0,1,0,0,0,0,0
1,0,1,0,1,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
554,0,0,0,0,0,0,0,0,1,0,0
555,0,0,0,0,0,0,0,0,1,0,0
556,0,0,0,0,0,0,1,0,0,0,0
557,0,0,0,0,1,0,1,0,0,0,0
558,0,0,0,0,0,0,0,0,0,0,1

In [38]:
rp.summary_cat(info_source)

                      Variable  Outcome  Count  Percent
0           Friends and family        0    448    80.14
1                                     1    111    19.86
2    Health Care Professionals        0    485    86.76
3                                     1     74    13.24
4                         None        0    558    99.82
5                                     1      1     0.18
6                  Print media        0    471    84.26
7                                     1     88    15.74
8         Seminar and Lectures        0    483    86.40
9                                     1     76    13.60
10            Electronic media        0    319    57.07
11                                    1    240    42.93
12          Friends and family        0    448    80.14
13                                    1    111    19.86
14   Health Care Professionals        0    532    95.17
15                                    1     27     4.83
16                        None        0    491    87.84
17                                    1     68    12.16
18                 Print media        0    501    89.62
19                                    1     58    10.38
20        Seminar and Lectures        0    504    90.16
21                                    1     55     9.84

In [71]:
known = df[df['do_you_know_about_thalassemia?'] == 'Yes']
known.shape

(507, 29)

In [73]:
knowledge = known[['thalassemia_is_an_inherited_blood_disorders',
                'thalassemia_is_a_major_contagious_disease',
                'marriage_between_a_healthy_individual_and_a_carrier_results_in_the_birth_of_a_severely_thalassemic_child',
                'marriage_between_two_carriers_results_in_the_birth_of_a_severely_thalassemic_child',
                'thalassemia_can_pass_onto_your_child_through_a_gene',
                'pregnancy_should_be_terminated_during_thalassemia',
                'intermarriage_is_a_significant_risk_factor_for_thalassemia',
                'blood_transfusion_is_a_treatment_of_thalassemia_major_patients',
                'thalassemia_is_a_preventable_disease',
                'thalassemia_is_a_curable_disease']]

In [74]:
rp.summary_cat(knowledge)

,Variable,Outcome,Count,Percent
0,thalassemia_is_an_inherited_blood_disorders,Yes,467,92.11
1,,Don't know,21,4.14
2,,No,19,3.75
3,thalassemia_is_a_major_contagious_disease,No,242,47.73
4,,Yes,218,43.00
5,,Don't know,47,9.27
6,marriage_between_a_healthy_individual_and_a_ca...,Yes,233,45.96
7,,No,155,30.57
8,,Don't know,119,23.47
9,marriage_between_two_carriers_results_in_the_b...,Yes,364,71.79
10,,Don't know,103,20.32
11,,No,40,7.89
12,thalassemia_can_pass_onto_your_child_through_a...,Yes,418,82.45
13,,Don't know,65,12.82
14,,No,24,4.73
15,pregnancy_should_be_terminated_during_thalassemia,Yes,246,48.52
16,,Don't know,199,39.25
17,,No,62,12.23
18,intermarriage_is_a_significant_risk_factor_for...,Yes,288,56.80
19,,Don't know,153,30.18
20,,No,66,13.02
21,blood_transfusion_is_a_treatment_of_thalassemi...,Yes,365,71.99
22,,Don'r know,115,22.68
23,,No,27,5.33
24,thalassemia_is_a_preventable_disease,Yes,241,47.53
25,,No,161,31.76
26,,Don't know,105,20.71
27,thalassemia_is_a_curable_disease,Yes,226,44.58
28,,No,167,32.94
29,,Don't know,114,22.49

In [75]:
attitude = known[['i_would_happily_accept_a_relationship_with_a_thalassemic_person',
       'i_would_like_to_consult_with_a_consultant_prior_to_getting_married',
       'i_would_undergo_necessary_blood_tests_before_marriage_to_avoid_the_birth_of_a_thalassemic_child',
       'i_should_accept_the_probability_of_a_child_just_because_of_a_family_marriage',
       'i_would_like_to_donate_my_blood_to_a_thalassemia_patient',
       'i_would_like_to_inform_others_about_the_dangers_of_thalassemia',
       'i_would_like_to_consider_the_importance_of_public_education_regarding_thalassemia',
       'if_my_family_has_a_major_thalassemia_patient_and_i_am_the_only_candidate_for_bone_marrow_transplantation,_i_would_consider_it',
       'i_would_like_to_participate_in_the_”thalassemia_prevention_programme”_if_someone_introduces',
       'i_would_like_to_tell_friends_about_thalassemia_after_completing_this_survey']]

In [76]:
rp.summary_cat(attitude)

,Variable,Outcome,Count,Percent
0,i_would_happily_accept_a_relationship_with_a_t...,Agree,177,34.91
1,,Neutral,170,33.53
2,,Disagree,160,31.56
3,i_would_like_to_consult_with_a_consultant_prio...,Agree,393,77.51
4,,Neutral,84,16.57
5,,Disagree,30,5.92
6,i_would_undergo_necessary_blood_tests_before_m...,Agree,400,78.90
7,,Neutral,79,15.58
8,,Disagree,28,5.52
9,i_should_accept_the_probability_of_a_child_jus...,Agree,228,44.97
10,,Neutral,148,29.19
11,,Disagree,131,25.84
12,i_would_like_to_donate_my_blood_to_a_thalassem...,Agree,450,88.76
13,,Neutral,39,7.69
14,,Disagree,18,3.55
15,i_would_like_to_inform_others_about_the_danger...,Agree,465,91.72
16,,Neutral,31,6.11
17,,Disagree,11,2.17
18,i_would_like_to_consider_the_importance_of_pub...,Agree,464,91.52
19,,Neutral,35,6.90
20,,Disagree,8,1.58
21,if_my_family_has_a_major_thalassemia_patient_a...,Agree,396,78.11
22,,Neutral,97,19.13
23,,Disagree,14,2.76
24,i_would_like_to_participate_in_the_”thalassemi...,Agree,411,81.07
25,,Neutral,78,15.38
26,,Disagree,18,3.55
27,i_would_like_to_tell_friends_about_thalassemia...,Agree,420,82.84
28,,Neutral,74,14.60
29,,Disagree,13,2.56

In [77]:
crosstab, res = rp.crosstab(known['field_of_study'], 
            attitude['i_would_happily_accept_a_relationship_with_a_thalassemic_person'], 
            test= "chi-square")

In [78]:
crosstab

                                                                i_would_happily_accept_a_relationship_with_a_thalassemic_person  \
i_would_happily_accept_a_relationship_with_a_thalassemic_person                                                           Agree
field_of_study
Arts and Humanities                                                                                             15
Business                                                                                                        33
Science                                                                                                        111
Social science                                                                                                  18
All                                                                                                            177

                                                                          \
i_would_happily_accept_a_relationship_with_a_thalassemic_person Disagree
field_of_study
Arts and Humanities                                                   15
Business                                                              12
Science                                                              122
Social science                                                        11
All                                                                  160


i_would_happily_accept_a_relationship_with_a_thalassemic_person Neutral  All
field_of_study
Arts and Humanities                                                  18   48
Business                                                             17   62
Science                                                             115  348
Social science                                                       20   49
All                                                                 170  507

In [79]:
res

                Chi-square test  results
0  Pearson Chi-square ( 6.0) =   14.3759
1                    p-value =    0.0257
2                 Cramer's V =    0.1191

In [80]:
if res.results[1] > 0.05: 
    print("Fail to reject H0")
else: 
    print("Reject H0; Accept Ha")

Reject H0; Accept Ha

In [20]:
df.columns

Index(['score', 'age_of_participant', 'gender', 'marital_status',
       'field_of_study', 'year_of_study', 'do_you_know_about_thalassemia?',
       'sources_of_information_about_thalassemia?(multiple_choice)',
       'thalassemia_is_an_inherited_blood_disorders',
       'thalassemia_is_a_major_contagious_disease',
       'marriage_between_a_healthy_individual_and_a_carrier_results_in_the_birth_of_a_severely_thalassemic_child',
       'marriage_between_two_carriers_results_in_the_birth_of_a_severely_thalassemic_child',
       'thalassemia_can_pass_onto_your_child_through_a_gene',
       'pregnancy_should_be_terminated_during_thalassemia',
       'intermarriage_is_a_significant_risk_factor_for_thalassemia',
       'blood_transfusion_is_a_treatment_of_thalassemia_major_patients',
       'thalassemia_is_a_preventable_disease',
       'thalassemia_is_a_curable_disease',
       'i_would_happily_accept_a_relationship_with_a_thalassemic_person',
       'i_would_like_to_consult_with_a_consultant_prior_to_getting_married',
       'i_would_undergo_necessary_blood_tests_before_marriage_to_avoid_the_birth_of_a_thalassemic_child',
       'i_should_accept_the_probability_of_a_child_just_because_of_a_family_marriage',
       'i_would_like_to_donate_my_blood_to_a_thalassemia_patient',
       'i_would_like_to_inform_others_about_the_dangers_of_thalassemia',
       'i_would_like_to_consider_the_importance_of_public_education_regarding_thalassemia',
       'if_my_family_has_a_major_thalassemia_patient_and_i_am_the_only_candidate_for_bone_marrow_transplantation,_i_would_consider_it',
       'i_would_like_to_participate_in_the_”thalassemia_prevention_programme”_if_someone_introduces',
       'i_would_like_to_tell_friends_about_thalassemia_after_completing_this_survey',
       'representative_name'],
      dtype='object')